.App {
  text-align: center;
}

.input-container {
  width: 100%;
  padding: 5vh;
  text-align: left;
}
.card {
  width: 100vw !important;
}
.userList {
  text-align: left;
}
.err{
  border: 0.2vh solid red !important ;
}